services:
    db:
        image: postgres:17.2-alpine
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
        ports:
            - 5432:5432
        volumes:
            - postgres-data:/var/lib/postgresql/data

volumes:
    postgres-data: